body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

/* Light mode */
html {
  font-size: 17px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}

/* Dark mode */
html.dark {
  scrollbar-color: rgba(255, 255, 255, 0.35) transparent;
}

html.dark::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.35);
}


.typing-animate {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.4s steps(20, end);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

:root {
  --sidebar-expanded: 1rem;   /* 320px */
  --sidebar-collapsed: 1rem; /* 72px */
}

@media (max-width: 768px) {
  :root {
    --sidebar-expanded: 0px;
    --sidebar-collapsed: 0px;
  }
}