body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.dark .custom-scroll {
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.typing-animate {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.4s steps(20, end);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

